<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All pets</title>
</head>
<body>
    <h1> All Pets </h1>
    <ul>
        {% for pet in pets %}
        <li><a href="/{{pet.id}}">{{pet.name}}</a></li>
        {% endfor %}
    </ul>

    <h2>Add New Pet</h2>
    <form action="/" method="POST">
        <input tpye='text' name='name' placeholder='name'>
        <input tpye='text' name='species' placeholder='species'>
        <input tpye='number' name='hunger' placeholder='hunger'>
        <button>Submit Pet</button>
</body>
</html>